* {
	color: #fff;
	font-family: 'Nunito', sans-serif;
}
header {
	position: sticky;
	top: .00000000001px;
	opacity: .93;

}
    nav .header-contenedor-responsive {
    	display: none;
    }
	.header-contenedor {
	display: flex;
	flex-wrap: wrap ;
	width: 100%;
	height: 11,28472vh;
	background-color: #3080F0;
	position: sticky;
	top: .00000000001px;
	opacity: .93;
	}
	.header-logo__logo {
	width: 50px;
	height: 50px ;
	margin: 7.5px 7.5px 7.5px 10px;
    }
    .header-logo__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10%;
    }
	.ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	li {
		margin: 7px;
	}
	li a button {
		background-color: #3080F0;
	    border: none;
	    border-radius: 10px;
	    padding: 5px;
	}	
	li button:hover {
	transition: .3s;
	background-color: #1A2933;
	}
	@media only screen and (max-width: 500px) {
    	nav .header-contenedor {
    		display: none;
    	}
    	nav .header-contenedor-responsive {
    		display: flex;
    		flex-flow: column wrap;
    		background-color: #3080F0;
    		
    	}
    	nav .header-contenedor-responsive__cabecera{
    		display: flex;
    		justify-content: space-between ;
    		align-items: center;
    		padding: 10px ;
            -webkit-user-select: none;
	        user-select: none;
    	}
    	.header-logo__logo-responsive {
	        width: 50px;
	        height: 50px ;
	        
        }
    	.header-logo__logo-responsive img {
	        width: 100%;
	        height: 100%;
	        object-fit: contain;
	        border-radius: 10%;
	    }
	    .menu-de-barras{
	    	width: 33px;
	    	height: 33px;
	    }
	    .menu-de-barras input {
	       display: block;
	       width: 35px;
	       height: 32px;
	       position: absolute;
	       top: 13px;
	       margin-right: 17px;
	       cursor: pointer;
	       opacity: 0;
	       z-index: 200;
	       -webkit-touch-callout: none;
        }
	    .menu-de-barras span {
	    display: block;
	    width: 33px;
	    height: 4px;
	    margin-bottom: 5px;
	    position: relative;
	    background: #fff;
	    border-radius: 3px;
	    z-index: 100;
	    transform-origin: 4px 0px;
	    transition: transform 0.5s;
	    cubic-bezier(0.77 , 0.2, 0.05, 1),
	    background: 0.5s;
	    cubic-bezier(0.77, 0.2, 0.05, 1),
	    opacity: 0.55s ease;
        }
        .menu-de-barras input:checked ~ span:nth-child(3) {
	        opacity: 0;
	        transform: rotate(45deg) ;
        }
        .menu-de-barras input:checked ~ span:nth-child(2){
	        opacity: 1;
	        transform: rotate(44deg) translate(0, -1px) ;
        }
        .menu-de-barras input:checked ~ span:nth-child(4){
	        opacity: 1;
	        transform: rotate(-44deg) translate(-1px, -2.5px)  ;
        }  
        .ul-responsive {
	        position:absolute;
	        display: flex;
	        flex-direction: column;
	        align-items: flex-end;
	        width: 100%;
	        top: 70px;
	        left: 0px;
	        background:  #3080F0;
	        list-style-type: none;
	        -webkit-font-smoothing: antialiased;
	        transform-origin: 0% 0%;
	        transform: translate(-100%, 0);
	        transition: transform 0.5s;
	        cubic-bezier (0.77, 0.2, 0.05, 1);
        }    
        .ul-responsive li {
	        padding: 5px;
	        font-size: 18px;
	        margin-right: 25px;
        }
        .ul-responsive li a button{
	        background-color: #3080F0;
	        border: none;
	        border-radius: 10px;
	        padding: 5px;
        }
        .ul-responsive li button:hover {
	        transition: .3s;
	        background-color: #1A2933;
	    }
	    .menu-de-barras input:checked ~ .menu-de-barras:nth-child(5) {
	    	transform: translate( 500px, 0px);
	    }
        .menu-de-barras input:checked ~ ul {
	        transform: none;
        }
        .contacto {
        	margin: 0px 20px;
        }
}
    
main {
	display: flex;
	flex-flow: column wrap;
}
.imagen-principal div {
	display: flex;
	width: 100%;
}
.imagen-principal div img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.papercrafts {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(circle at 50% 120.71%, #2e3a4f 0, #24344c 50%, #182e49 100%);
	width: 100%;
	min-height: 650px;
}
.papercrafts-categorias {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 70px;
	margin-bottom: 30px;
}
.papercrafts-categorias div{
	background: linear-gradient(90deg, rgb(12,173,220) , #3080F0);
	width: 135px;
	height: 220px;
	margin: 20px 100px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px rgb(20, 20, 20);
}
.papercrafts-categorias div div {
	display: flex;
	width: 125px;
	height: 210px;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin: 5px;
	border: 1px solid #fff;
	box-shadow: none;
}
.papercrafts-categorias div div .naruto {
    background: none;
    background-image: url(../imagenes/imagenes-index/fondo-naruto.svg);
    width: 113.07px;
    height: 165.633px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
} 
.papercrafts-categorias img:hover {
	opacity: .4;
	transition: .3s;
	transform: scale(0.97);
}
.papercrafts-categorias div div .five-nights-at-freddys {
	background: none;
    background-image: url("../imagenes/imagenes-index/fondo-fnaf.svg");
    width: 113.07px;
    height: 150.75px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.papercrafts-categorias div div .digimon {
	background: none;
    background-image: url("../imagenes/imagenes-index/fondo-digimon.svg");
    width: 113.677px;
    height: 150.55px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.papercrafts-categorias div div .minecraft {
	background: none;
    background-image: url("../imagenes/imagenes-index/fondo-minecraft.svg");
    width: 113.677px;
    height: 150.55px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.papercrafts-categorias div div .vehiculos {
    background: none;
    background-image: url("../imagenes/imagenes-index/fondo-vehiculos.svg");
    width: 113.067px;
    height: 158.417px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
} 
.papercrafts-categorias div div .alebrijes {
    background: none;
    background-image: url("../imagenes/imagenes-index/fondo-alebrijes.svg");
    width: 113.067px;
    height: 158.417px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.papercrafts-categorias div div .animales {
	background: none;
    background-image: url("../imagenes/imagenes-index/fondo-animales.svg");
    width: 112.333px;
    height: 158.517px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.papercrafts-categorias div div .otros {
	background: none;
    background-image: url("../imagenes/imagenes-index/fondo-otros.svg");
    width: 112.333px;
    height: 157.517px;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
}
.contenedor-sobre-nosotros {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 650px;
	background-image: radial-gradient(circle at 50% 50%, #ffffff 0, #d1e8ff 25%, #9bc5f7 50%, #5ea3e9 75%, #0082dc 100%);
}
.sobre-nosotros {
	display: flex;
	flex-flow: column wrap;
	width: 580px;
	min-height: 470px;
	background: linear-gradient(90deg, rgb(12,173,220) , #3080F0);
	border-radius: 15px;
	box-shadow: 5px 5px 8px rgb(163, 163, 163);
	justify-content:space-around;
	align-items: center;
	text-align: center;
	padding: 60px;
	margin-left: 20px;
	margin-right: 20px;
}
@media only screen and (max-width: 500px) {
	.sobre-nosotros {
        	display: flex;
	        flex-flow: column wrap;
	        width: 580px;
	        min-height: 470px;
	        background: linear-gradient(90deg, rgb(12,173,220) , #3080F0);
	        border-radius: 15px;
	        box-shadow: 5px 5px 8px rgb(163, 163, 163);
	        justify-content:space-around;
	        align-items: center;
	        text-align: left;
	        margin: 70px 20px 20px 20px;
	        padding: 30px;
	        margin-left: 20px;
	        margin-right: 20px;   
        }
        .sobre-nosotros h3 {
        	line-height: 50px;
        	text-align: center;
        }
        .imagen-principal div {
	        display: flex;
	        width: 100%;
	        height: 89vh;
        }
        .imagen-principal div img {
	        width: 100%;
	        height: 100%;
	        object-fit: cover;
	        object-position: 78% 5%;
        }
        .papercrafts-categorias div div a {
        	transition: 3s;
        }


}
.contenedor-contacto {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(circle at 50% 120.71%, #2e3a4f 0, #24344c 50%, #182e49 100%);
	width: 100%;
	min-height: 582px;
}
.contacto__links {
	display: flex;
	flex-flow: column wrap;
	margin-top: 10px;
}
.contacto__links__gmail, .contacto__links__whatsapp {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10px;
	align-items: center;
}
.contacto__links__gmail div, .contacto__links__whatsapp div {
	width: 32px;
	height: 32px;
}
.contacto__links__gmail a, .contacto__links__whatsapp a {
	margin-left: 5px ;
}

footer {
	display: flex;
	width: 100%;
	height: 7.5vh;
	background-color: #2E7AE4;
}
